CSharp/ucmdb/Web References/UcmdbService/UcmdbService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:props="http://schemas.hp.com/ucmdb/1/types/props" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.hp.com/ucmdb/1/types/props" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
		Types used to specify the data to be returned by a query
		</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PropertiesList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="propertyName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomProperties">
    <xs:sequence>
      <xs:element minOccurs="0" name="propertiesList" type="props:PropertiesList">
        <xs:annotation>
          <xs:documentation>
					A list of property names
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="predefinedProperties" type="props:PredefinedProperties">
        <xs:annotation>
          <xs:documentation>
					A list of property names generated by the UCMDB based on built-in rules
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomTypedProperties">
    <xs:sequence>
      <xs:element minOccurs="0" name="propertiesList" type="props:PropertiesList">
        <xs:annotation>
          <xs:documentation>
					A list of property names
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="predefinedTypedProperties" type="props:PredefinedTypedProperties">
        <xs:annotation>
          <xs:documentation>
					Sets of property names generated according to built-in rules, to be used to filter items of a specified type
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PredefinedProperties">
    <xs:sequence>
      <xs:element minOccurs="0" name="qualifierProperties" type="props:QualifierProperties">
        <xs:annotation>
          <xs:documentation>
					The set of properties that are modified with the specifed qualifiers
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="simplePredefinedProperties" type="props:SimplePredefinedPropertyCollection">
        <xs:annotation>
          <xs:documentation>
					A collection of sets of property names created using one of the rules: CONCRETE, DERIVED, or NAMING.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PredefinedTypedProperties">
    <xs:sequence>
      <xs:element minOccurs="0" name="qualifierProperties" type="props:QualifierProperties">
        <xs:annotation>
          <xs:documentation>
					The set of properties that are modified with the specifed qualifiers
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="simpleTypedPredefinedProperties" type="props:SimpleTypedPredefinedPropertyCollection">
        <xs:annotation>
          <xs:documentation>
					A collection of sets of properties to be applied according to the type of the CI or Relation
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QualifierProperties">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="qualifierName" type="xs:string">
        <xs:annotation>
          <xs:documentation>
					The name of a qualifier
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TypedProperties">
    <xs:sequence>
      <xs:element name="type" type="xs:string">
        <xs:annotation>
          <xs:documentation>
					The class name of the type of item to which the properties are applied
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="properties" type="props:CustomTypedProperties">
        <xs:annotation>
          <xs:documentation>
					A list of properties to be returned for each item in the query result. The list is the union of the propertiesList and predefinedTypedProperties.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TypedPropertiesCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="typedProperties" type="props:TypedProperties">
        <xs:annotation>
          <xs:documentation>
					A set of properties to apply to items of a specific Configuration Item Type
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SimplePredefinedProperty">
    <xs:sequence>
      <xs:element name="name">
        <xs:annotation>
          <xs:documentation>
					The name of the built-in rule used to create the list of property names
					</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="CONCRETE">
              <xs:annotation>
                <xs:documentation>
								CONCRETE - The properties defined for the class specified in the query, not including properties added in derived classes
								</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DERIVED">
              <xs:annotation>
                <xs:documentation>
								DERIVED - Inherited properties and properties added by the class being handled, even if the class is derived from the class specified in the query
								</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NAMING">
              <xs:annotation>
                <xs:documentation>
								NAMING - Properties used to name an item, such as the display_label and the data_name
								</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SimplePredefinedPropertyCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="simplePredefinedProperty" type="props:SimplePredefinedProperty">
        <xs:annotation>
          <xs:documentation>
					A set of property names created using a specified rule 
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SimpleTypedPredefinedProperty">
    <xs:sequence>
      <xs:element name="name">
        <xs:annotation>
          <xs:documentation>
					The name of the built-in rule used to create the list of property names
					</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="CONCRETE">
              <xs:annotation>
                <xs:documentation>
								CONCRETE - The properties defined for the specified class, not including properties added in derived classes
								</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NAMING">
              <xs:annotation>
                <xs:documentation>
								NAMING - Properties used to name an item, such as the display_label and the data_name
								</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SimpleTypedPredefinedPropertyCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SimpleTypedPredefinedProperty" type="props:SimpleTypedPredefinedProperty">
        <xs:annotation>
          <xs:documentation>
					A set of properties to be applied according to the type of the CI or Relation
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>