CSharp/ucmdb/Web References/UcmdbService/UcmdbService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:types="http://schemas.hp.com/ucmdb/ui/1/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.hp.com/ucmdb/ui/1/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClassNameAndIcon">
    <xs:sequence>
      <xs:element name="className" type="xs:string" />
      <xs:element name="iconRelativePath" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClassNameAndIcons">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="classNameAndIcon" type="types:ClassNameAndIcon" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>