CSharp/ucmdb/TestConsole/Service References/UcmdbServiceFacade/EmployeeService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://localhost" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost:30564/EmployeeService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/Imports">
      <xsd:import schemaLocation="http://localhost:30564/EmployeeService.svc?xsd=xsd0" namespace="http://localhost" />
      <xsd:import schemaLocation="http://localhost:30564/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:30564/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import schemaLocation="http://localhost:30564/EmployeeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Security" />
      <xsd:import schemaLocation="http://localhost:30564/EmployeeService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UcmdbServiceFacade" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_ConnectToUcmdbServer_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToUcmdbServer" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_ConnectToUcmdbServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToUcmdbServerResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_FindUpdatedSince_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUpdatedSince" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_FindUpdatedSince_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUpdatedSinceResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SetChunkSize_InputMessage">
    <wsdl:part name="parameters" element="tns:SetChunkSize" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SetChunkSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetChunkSizeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetNextChunk_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextChunk" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetNextChunk_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextChunkResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IEmployeeService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConnectToUcmdbServer">
      <wsdl:input wsaw:Action="http://localhost/IEmployeeService/ConnectToUcmdbServer" message="tns:IEmployeeService_ConnectToUcmdbServer_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IEmployeeService/ConnectToUcmdbServerResponse" message="tns:IEmployeeService_ConnectToUcmdbServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FindUpdatedSince">
      <wsdl:input wsaw:Action="http://localhost/IEmployeeService/FindUpdatedSince" message="tns:IEmployeeService_FindUpdatedSince_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IEmployeeService/FindUpdatedSinceResponse" message="tns:IEmployeeService_FindUpdatedSince_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetChunkSize">
      <wsdl:input wsaw:Action="http://localhost/IEmployeeService/SetChunkSize" message="tns:IEmployeeService_SetChunkSize_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IEmployeeService/SetChunkSizeResponse" message="tns:IEmployeeService_SetChunkSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetNextChunk">
      <wsdl:input wsaw:Action="http://localhost/IEmployeeService/GetNextChunk" message="tns:IEmployeeService_GetNextChunk_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IEmployeeService/GetNextChunkResponse" message="tns:IEmployeeService_GetNextChunk_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="WSHttpBinding_IEmployeeService" binding="i0:WSHttpBinding_IEmployeeService">
      <soap12:address location="http://localhost:30564/EmployeeService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:30564/EmployeeService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ba003595@bsgv.eu.isam.socgen</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>