CSharp/ucmdb/UcmdbFacade/Web References/UcmdbService/UcmdbService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:types="http://schemas.hp.com/ucmdb/1/types" xmlns:classmodelparams="http://schemas.hp.com/ucmdb/1/params/classmodel" xmlns:classmodeltypes="http://schemas.hp.com/ucmdb/1/types/classmodel" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.hp.com/ucmdb/1/params/classmodel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UcmdbService?xsd=xsd13" namespace="http://schemas.hp.com/ucmdb/1/types/classmodel" />
  <xs:import schemaLocation="UcmdbService?xsd=xsd1" namespace="http://schemas.hp.com/ucmdb/1/types" />
  <xs:annotation>
    <xs:documentation>
		Class model query methods and return types definitions
		</xs:documentation>
  </xs:annotation>
  <xs:complexType name="getCmdbClassDefinition">
    <xs:sequence>
      <xs:element name="cmdbContext" type="types:CmdbContext" />
      <xs:element name="className" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getCmdbClassDefinition" type="classmodelparams:getCmdbClassDefinition" />
  <xs:complexType name="getCmdbClassDefinitionResponse">
    <xs:sequence>
      <xs:element ref="classmodeltypes:UcmdbClass" />
      <xs:element name="comments" type="types:ResComments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getCmdbClassDefinitionResponse" type="classmodelparams:getCmdbClassDefinitionResponse" />
  <xs:complexType name="getAllClassesHierarchy">
    <xs:sequence>
      <xs:element name="cmdbContext" type="types:CmdbContext" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getAllClassesHierarchy" type="classmodelparams:getAllClassesHierarchy" />
  <xs:complexType name="getAllClassesHierarchyResponse">
    <xs:sequence>
      <xs:element name="classesHierarchy" type="classmodeltypes:UcmdbClassModelHierarchy" />
      <xs:element name="comments" type="types:ResComments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getAllClassesHierarchyResponse" type="classmodelparams:getAllClassesHierarchyResponse" />
  <xs:complexType name="getClassAncestors">
    <xs:sequence>
      <xs:element name="cmdbContext" type="types:CmdbContext" />
      <xs:element name="className" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getClassAncestors" type="classmodelparams:getClassAncestors" />
  <xs:complexType name="getClassAncestorsResponse">
    <xs:sequence>
      <xs:element name="classHierarchy" type="classmodeltypes:UcmdbClassModelHierarchy" />
      <xs:element name="comments" type="types:ResComments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getClassAncestorsResponse" type="classmodelparams:getClassAncestorsResponse" />
</xs:schema>