CSharp/ucmdb/UcmdbFacade/Web References/UcmdbService/UcmdbService16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:querytypes="http://schemas.hp.com/ucmdb/1/types/query" xmlns:types="http://schemas.hp.com/ucmdb/1/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.hp.com/ucmdb/1/types/query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CICountNode">
    <xs:sequence>
      <xs:element name="label" />
      <xs:element name="amount" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CICountNodes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CICountNode" type="querytypes:CICountNode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelationCountNode">
    <xs:sequence>
      <xs:element name="label" />
      <xs:element name="amount" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelationCountNodes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="relationCountNode" type="querytypes:RelationCountNode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TopologyCountMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="CICountNodes" type="querytypes:CICountNodes" />
      <xs:element minOccurs="0" name="relationCountNodes" type="querytypes:RelationCountNodes" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>