CSharp/ucmdb/UcmdbFacade/Web References/UcmdbService/UcmdbService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ucmdbparams="http://schemas.hp.com/ucmdb/1/params/ucmdb" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.hp.com/ucmdb/1/params/ucmdb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
            The exception type
        </xs:documentation>
  </xs:annotation>
  <xs:element name="ucmdbFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="msg" type="xs:string">
          <xs:annotation>
            <xs:documentation>
                            The error message
                        </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="stacktrace" type="xs:string">
          <xs:annotation>
            <xs:documentation>
                            The stack trace
                        </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>