CSharp/ucmdb/UcmdbFacade/Web References/UcmdbService/UcmdbService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns3="http://schemas.hp.com/ucmdb/1/qres" xmlns:ns12="http://schemas.hp.com/ucmdb/ui/1/types" xmlns:ns4="http://schemas.hp.com/ucmdb/1/types" xmlns:ucmdbparams="http://schemas.hp.com/ucmdb/1/params/ucmdb" xmlns:ns5="http://schemas.hp.com/ucmdb/1/types/impact" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://schemas.hp.com/ucmdb/1/services/schema/ucmdb" xmlns:ns1="http://schemas.hp.com/ucmdb/1/classmodeltypes" xmlns:ns2="http://schemas.hp.com/ucmdb/1/props" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:uiparams="http://schemas.hp.com/ucmdb/ui/1/params" xmlns:discoveryparams="http://schemas.hp.com/ucmdb/discovery/1/params" xmlns:impactparams="http://schemas.hp.com/ucmdb/1/params/impact" xmlns:ns10="http://schemas.hp.com/ucmdb/1/types/history" xmlns:queryparams="http://schemas.hp.com/ucmdb/1/params/query" xmlns:ns8="http://schemas.hp.com/ucmdb/1/types/props" xmlns:updateparams="http://schemas.hp.com/ucmdb/1/params/update" xmlns:ns9="http://schemas.hp.com/ucmdb/1/types/query" xmlns:management="http://schemas.hp.com/ucmdb/management/1/params" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns6="http://schemas.hp.com/ucmdb/1/types/update" xmlns:classmodelparams="http://schemas.hp.com/ucmdb/1/params/classmodel" xmlns:ns7="http://schemas.hp.com/ucmdb/1/types/classmodel" xmlns:tns="http://schemas.hp.com/ucmdb/1/services/ucmdb" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns11="http://schemas.hp.com/ucmdb/discovery/1/types" xmlns:historyparams="http://schemas.hp.com/ucmdb/1/params/history" targetNamespace="http://schemas.hp.com/ucmdb/1/services/ucmdb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>UcmdbService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.hp.com/ucmdb/1/services/schema/ucmdb">
      <xs:import schemaLocation="UcmdbService?xsd=xsd0" namespace="http://schemas.hp.com/ucmdb/1/params/query" />
      <xs:import schemaLocation="UcmdbService?xsd=xsd4" namespace="http://schemas.hp.com/ucmdb/1/params/update" />
      <xs:import schemaLocation="UcmdbService?xsd=xsd8" namespace="http://schemas.hp.com/ucmdb/1/params/impact" />
      <xs:import schemaLocation="UcmdbService?xsd=xsd12" namespace="http://schemas.hp.com/ucmdb/1/params/classmodel" />
      <xs:import schemaLocation="UcmdbService?xsd=xsd16" namespace="http://schemas.hp.com/ucmdb/1/params/ucmdb" />
      <xs:import schemaLocation="UcmdbService?xsd=xsd17" namespace="http://schemas.hp.com/ucmdb/1/params/history" />
      <xs:import schemaLocation="UcmdbService?xsd=xsd21" namespace="http://schemas.hp.com/ucmdb/discovery/1/params" />
      <xs:import schemaLocation="UcmdbService?xsd=xsd24" namespace="http://schemas.hp.com/ucmdb/ui/1/params" />
      <xs:import schemaLocation="UcmdbService?xsd=xsd27" namespace="http://schemas.hp.com/ucmdb/management/1/params" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getClassAncestors">
    <wsdl:part name="part1" element="classmodelparams:getClassAncestors" />
  </wsdl:message>
  <wsdl:message name="getClassAncestorsResponse">
    <wsdl:part name="part1" element="classmodelparams:getClassAncestorsResponse" />
  </wsdl:message>
  <wsdl:message name="ucmdbFault">
    <wsdl:part name="part1" element="ucmdbparams:ucmdbFault" />
  </wsdl:message>
  <wsdl:message name="releaseChunks">
    <wsdl:part name="part1" element="queryparams:releaseChunks" />
  </wsdl:message>
  <wsdl:message name="releaseChunksResponse">
    <wsdl:part name="part1" element="queryparams:releaseChunksResponse" />
  </wsdl:message>
  <wsdl:message name="getChangedCIsRequest">
    <wsdl:part name="part1" element="historyparams:getChangedCIs" />
  </wsdl:message>
  <wsdl:message name="getChangedCIsResponse">
    <wsdl:part name="part1" element="historyparams:getChangedCIsResponse" />
  </wsdl:message>
  <wsdl:message name="deleteCIsAndRelationsRequest">
    <wsdl:part name="part1" element="updateparams:deleteCIsAndRelations" />
  </wsdl:message>
  <wsdl:message name="deleteCIsAndRelationsResponse">
    <wsdl:part name="part1" element="updateparams:deleteCIsAndRelationsResponse" />
  </wsdl:message>
  <wsdl:message name="getImpactPathRequest">
    <wsdl:part name="part1" element="impactparams:getImpactPath" />
  </wsdl:message>
  <wsdl:message name="getImpactPathResponse">
    <wsdl:part name="part1" element="impactparams:getImpactPathResponse" />
  </wsdl:message>
  <wsdl:message name="addCIsAndRelationsRequest">
    <wsdl:part name="part1" element="updateparams:addCIsAndRelations" />
  </wsdl:message>
  <wsdl:message name="addCIsAndRelationsResponse">
    <wsdl:part name="part1" element="updateparams:addCIsAndRelationsResponse" />
  </wsdl:message>
  <wsdl:message name="getCIsByTypeRequest">
    <wsdl:part name="part1" element="queryparams:getCIsByType" />
  </wsdl:message>
  <wsdl:message name="getCIsByTypeResponse">
    <wsdl:part name="part1" element="queryparams:getCIsByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="getQueryNameOfViewRequest">
    <wsdl:part name="part1" element="queryparams:getQueryNameOfView" />
  </wsdl:message>
  <wsdl:message name="getQueryNameOfViewResponse">
    <wsdl:part name="part1" element="queryparams:getQueryNameOfViewResponse" />
  </wsdl:message>
  <wsdl:message name="executeTopologyQueryByNameWithParametersRequest">
    <wsdl:part name="part1" element="queryparams:executeTopologyQueryByNameWithParameters" />
  </wsdl:message>
  <wsdl:message name="executeTopologyQueryByNameWithParametersResponse">
    <wsdl:part name="part1" element="queryparams:executeTopologyQueryByNameWithParametersResponse" />
  </wsdl:message>
  <wsdl:message name="getRelationsByIdRequest">
    <wsdl:part name="part1" element="queryparams:getRelationsById" />
  </wsdl:message>
  <wsdl:message name="getRelationsByIdResponse">
    <wsdl:part name="part1" element="queryparams:getRelationsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getTopologyQueryResultCountByNameRequest">
    <wsdl:part name="part1" element="queryparams:getTopologyQueryResultCountByName" />
  </wsdl:message>
  <wsdl:message name="getTopologyQueryResultCountByNameResponse">
    <wsdl:part name="part1" element="queryparams:getTopologyQueryResultCountByNameResponse" />
  </wsdl:message>
  <wsdl:message name="updateCIsAndRelationsRequest">
    <wsdl:part name="part1" element="updateparams:updateCIsAndRelations" />
  </wsdl:message>
  <wsdl:message name="updateCIsAndRelationsResponse">
    <wsdl:part name="part1" element="updateparams:updateCIsAndRelationsResponse" />
  </wsdl:message>
  <wsdl:message name="calculateImpactRequest">
    <wsdl:part name="part1" element="impactparams:calculateImpact" />
  </wsdl:message>
  <wsdl:message name="calculateImpactResponse">
    <wsdl:part name="part1" element="impactparams:calculateImpactResponse" />
  </wsdl:message>
  <wsdl:message name="getImpactRulesByNamePrefixRequest">
    <wsdl:part name="part1" element="impactparams:getImpactRulesByNamePrefix" />
  </wsdl:message>
  <wsdl:message name="getImpactRulesByNamePrefixResponse">
    <wsdl:part name="part1" element="impactparams:getImpactRulesByNamePrefixResponse" />
  </wsdl:message>
  <wsdl:message name="getImpactRulesByGroupNameRequest">
    <wsdl:part name="part1" element="impactparams:getImpactRulesByGroupName" />
  </wsdl:message>
  <wsdl:message name="getImpactRulesByGroupNameResponse">
    <wsdl:part name="part1" element="impactparams:getImpactRulesByGroupNameResponse" />
  </wsdl:message>
  <wsdl:message name="pullTopologyMapChunksResquest">
    <wsdl:part name="part1" element="queryparams:pullTopologyMapChunks" />
  </wsdl:message>
  <wsdl:message name="pullTopologyMapChunksResponse">
    <wsdl:part name="part1" element="queryparams:pullTopologyMapChunksResponse" />
  </wsdl:message>
  <wsdl:message name="getCIsByIdRequest">
    <wsdl:part name="part1" element="queryparams:getCIsById" />
  </wsdl:message>
  <wsdl:message name="getCIsByIdResponse">
    <wsdl:part name="part1" element="queryparams:getCIsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="executeTopologyQueryWithParametersRequest">
    <wsdl:part name="part1" element="queryparams:executeTopologyQueryWithParameters" />
  </wsdl:message>
  <wsdl:message name="executeTopologyQueryWithParametersResponse">
    <wsdl:part name="part1" element="queryparams:executeTopologyQueryWithParametersResponse" />
  </wsdl:message>
  <wsdl:message name="getFilteredCIsByTypeRequest">
    <wsdl:part name="part1" element="queryparams:getFilteredCIsByType" />
  </wsdl:message>
  <wsdl:message name="getFilteredCIsByTypeResponse">
    <wsdl:part name="part1" element="queryparams:getFilteredCIsByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="getTopologyQueryExistingResultByNameRequest">
    <wsdl:part name="part1" element="queryparams:getTopologyQueryExistingResultByName" />
  </wsdl:message>
  <wsdl:message name="getTopologyQueryExistingResultByNameResponse">
    <wsdl:part name="part1" element="queryparams:getTopologyQueryExistingResultByNameResponse" />
  </wsdl:message>
  <wsdl:message name="getAllClassesHierarchy">
    <wsdl:part name="part1" element="classmodelparams:getAllClassesHierarchy" />
  </wsdl:message>
  <wsdl:message name="getAllClassesHierarchyResponse">
    <wsdl:part name="part1" element="classmodelparams:getAllClassesHierarchyResponse" />
  </wsdl:message>
  <wsdl:message name="getCINeighbours">
    <wsdl:part name="part1" element="queryparams:getCINeighbours" />
  </wsdl:message>
  <wsdl:message name="getCINeighboursResponse">
    <wsdl:part name="part1" element="queryparams:getCINeighboursResponse" />
  </wsdl:message>
  <wsdl:message name="getCmdbClassDefinition">
    <wsdl:part name="part1" element="classmodelparams:getCmdbClassDefinition" />
  </wsdl:message>
  <wsdl:message name="getCmdbClassDefinitionResponse">
    <wsdl:part name="part1" element="classmodelparams:getCmdbClassDefinitionResponse" />
  </wsdl:message>
  <wsdl:message name="executeTopologyQueryByNameRequest">
    <wsdl:part name="part1" element="queryparams:executeTopologyQueryByName" />
  </wsdl:message>
  <wsdl:message name="executeTopologyQueryByNameResponse">
    <wsdl:part name="part1" element="queryparams:executeTopologyQueryByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="UcmdbServicePortType">
    <wsdl:operation name="getClassAncestors">
      <wsdl:input wsaw:Action="urn:getClassAncestors" message="tns:getClassAncestors" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getClassAncestorsResponse" message="tns:getClassAncestorsResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getClassAncestors/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="releaseChunks">
      <wsdl:input wsaw:Action="releaseChunks" message="tns:releaseChunks" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/releaseChunksResponse" message="tns:releaseChunksResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/releaseChunks/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="getChangedCIs">
      <wsdl:input wsaw:Action="getChangedCIs" message="tns:getChangedCIsRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getChangedCIsResponse" message="tns:getChangedCIsResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getChangedCIs/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="deleteCIsAndRelations">
      <wsdl:input wsaw:Action="deleteCIsAndRelations" message="tns:deleteCIsAndRelationsRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/deleteCIsAndRelationsResponse" message="tns:deleteCIsAndRelationsResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/deleteCIsAndRelations/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="getImpactPath">
      <wsdl:input wsaw:Action="getImpactPath" message="tns:getImpactPathRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getImpactPathResponse" message="tns:getImpactPathResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getImpactPath/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="addCIsAndRelations">
      <wsdl:input wsaw:Action="addCIsAndRelations" message="tns:addCIsAndRelationsRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/addCIsAndRelationsResponse" message="tns:addCIsAndRelationsResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/addCIsAndRelations/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="getCIsByType">
      <wsdl:input wsaw:Action="getCIsByType" message="tns:getCIsByTypeRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getCIsByTypeResponse" message="tns:getCIsByTypeResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getCIsByType/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="getQueryNameOfView">
      <wsdl:input wsaw:Action="getQueryNameOfView" message="tns:getQueryNameOfViewRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getQueryNameOfViewResponse" message="tns:getQueryNameOfViewResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getQueryNameOfView/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="executeTopologyQueryByNameWithParameters">
      <wsdl:input wsaw:Action="executeTopologyQueryByNameWithParameters" message="tns:executeTopologyQueryByNameWithParametersRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/executeTopologyQueryByNameWithParametersResponse" message="tns:executeTopologyQueryByNameWithParametersResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/executeTopologyQueryByNameWithParameters/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="getRelationsById">
      <wsdl:input wsaw:Action="getRelationsById" message="tns:getRelationsByIdRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getRelationsByIdResponse" message="tns:getRelationsByIdResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getRelationsById/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="getTopologyQueryResultCountByName">
      <wsdl:input wsaw:Action="getTopologyQueryResultCountByName" message="tns:getTopologyQueryResultCountByNameRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getTopologyQueryResultCountByNameResponse" message="tns:getTopologyQueryResultCountByNameResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getTopologyQueryResultCountByName/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="updateCIsAndRelations">
      <wsdl:input wsaw:Action="updateCIsAndRelations" message="tns:updateCIsAndRelationsRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/updateCIsAndRelationsResponse" message="tns:updateCIsAndRelationsResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/updateCIsAndRelations/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="calculateImpact">
      <wsdl:input wsaw:Action="calculateImpact" message="tns:calculateImpactRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/calculateImpactResponse" message="tns:calculateImpactResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/calculateImpact/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="getImpactRulesByNamePrefix">
      <wsdl:input wsaw:Action="getImpactRulesByNamePrefix" message="tns:getImpactRulesByNamePrefixRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getImpactRulesByNamePrefixResponse" message="tns:getImpactRulesByNamePrefixResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getImpactRulesByNamePrefix/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="getImpactRulesByGroupName">
      <wsdl:input wsaw:Action="getImpactRulesByGroupName" message="tns:getImpactRulesByGroupNameRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getImpactRulesByGroupNameResponse" message="tns:getImpactRulesByGroupNameResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getImpactRulesByGroupName/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="pullTopologyMapChunks">
      <wsdl:input wsaw:Action="pullChunkResult" message="tns:pullTopologyMapChunksResquest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/pullTopologyMapChunksResponse" message="tns:pullTopologyMapChunksResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/pullTopologyMapChunks/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="getCIsById">
      <wsdl:input wsaw:Action="getCIsById" message="tns:getCIsByIdRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getCIsByIdResponse" message="tns:getCIsByIdResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getCIsById/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="executeTopologyQueryWithParameters">
      <wsdl:input wsaw:Action="executeTopologyQueryWithParameters" message="tns:executeTopologyQueryWithParametersRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/executeTopologyQueryWithParametersResponse" message="tns:executeTopologyQueryWithParametersResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/executeTopologyQueryWithParameters/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="getFilteredCIsByType">
      <wsdl:input wsaw:Action="getFilteredCIsByType" message="tns:getFilteredCIsByTypeRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getFilteredCIsByTypeResponse" message="tns:getFilteredCIsByTypeResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getFilteredCIsByType/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="getTopologyQueryExistingResultByName">
      <wsdl:input wsaw:Action="getTopologyQueryExistingResultByName" message="tns:getTopologyQueryExistingResultByNameRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getTopologyQueryExistingResultByNameResponse" message="tns:getTopologyQueryExistingResultByNameResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getTopologyQueryExistingResultByName/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="getAllClassesHierarchy">
      <wsdl:input wsaw:Action="urn:getAllClassesHierarchy" message="tns:getAllClassesHierarchy" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getAllClassesHierarchyResponse" message="tns:getAllClassesHierarchyResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getAllClassesHierarchy/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="getCINeighbours">
      <wsdl:input wsaw:Action="urn:getCINeighbours" message="tns:getCINeighbours" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getCINeighboursResponse" message="tns:getCINeighboursResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getCINeighbours/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="getCmdbClassDefinition">
      <wsdl:input wsaw:Action="urn:getCmdbClassDefinition" message="tns:getCmdbClassDefinition" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getCmdbClassDefinitionResponse" message="tns:getCmdbClassDefinitionResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/getCmdbClassDefinition/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
    <wsdl:operation name="executeTopologyQueryByName">
      <wsdl:input wsaw:Action="executeTopologyQueryByName" message="tns:executeTopologyQueryByNameRequest" />
      <wsdl:output wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/executeTopologyQueryByNameResponse" message="tns:executeTopologyQueryByNameResponse" />
      <wsdl:fault wsaw:Action="http://schemas.hp.com/ucmdb/1/services/ucmdb/Ucmdb/executeTopologyQueryByName/Fault/ucmdbFault" name="ucmdbFault" message="tns:ucmdbFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UcmdbServiceSOAP11Binding" type="tns:UcmdbServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getClassAncestors">
      <soap:operation soapAction="urn:getClassAncestors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="releaseChunks">
      <soap:operation soapAction="releaseChunks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getChangedCIs">
      <soap:operation soapAction="getChangedCIs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCIsAndRelations">
      <soap:operation soapAction="deleteCIsAndRelations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getImpactPath">
      <soap:operation soapAction="getImpactPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addCIsAndRelations">
      <soap:operation soapAction="addCIsAndRelations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCIsByType">
      <soap:operation soapAction="getCIsByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getQueryNameOfView">
      <soap:operation soapAction="getQueryNameOfView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executeTopologyQueryByNameWithParameters">
      <soap:operation soapAction="executeTopologyQueryByNameWithParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRelationsById">
      <soap:operation soapAction="getRelationsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopologyQueryResultCountByName">
      <soap:operation soapAction="getTopologyQueryResultCountByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCIsAndRelations">
      <soap:operation soapAction="updateCIsAndRelations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="calculateImpact">
      <soap:operation soapAction="calculateImpact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getImpactRulesByNamePrefix">
      <soap:operation soapAction="getImpactRulesByNamePrefix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getImpactRulesByGroupName">
      <soap:operation soapAction="getImpactRulesByGroupName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pullTopologyMapChunks">
      <soap:operation soapAction="pullChunkResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCIsById">
      <soap:operation soapAction="getCIsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executeTopologyQueryWithParameters">
      <soap:operation soapAction="executeTopologyQueryWithParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFilteredCIsByType">
      <soap:operation soapAction="getFilteredCIsByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopologyQueryExistingResultByName">
      <soap:operation soapAction="getTopologyQueryExistingResultByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllClassesHierarchy">
      <soap:operation soapAction="urn:getAllClassesHierarchy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCINeighbours">
      <soap:operation soapAction="urn:getCINeighbours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCmdbClassDefinition">
      <soap:operation soapAction="urn:getCmdbClassDefinition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executeTopologyQueryByName">
      <soap:operation soapAction="executeTopologyQueryByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap:body use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UcmdbServiceSOAP12Binding" type="tns:UcmdbServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getClassAncestors">
      <soap12:operation soapAction="urn:getClassAncestors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="releaseChunks">
      <soap12:operation soapAction="releaseChunks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getChangedCIs">
      <soap12:operation soapAction="getChangedCIs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCIsAndRelations">
      <soap12:operation soapAction="deleteCIsAndRelations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getImpactPath">
      <soap12:operation soapAction="getImpactPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addCIsAndRelations">
      <soap12:operation soapAction="addCIsAndRelations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCIsByType">
      <soap12:operation soapAction="getCIsByType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getQueryNameOfView">
      <soap12:operation soapAction="getQueryNameOfView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executeTopologyQueryByNameWithParameters">
      <soap12:operation soapAction="executeTopologyQueryByNameWithParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRelationsById">
      <soap12:operation soapAction="getRelationsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopologyQueryResultCountByName">
      <soap12:operation soapAction="getTopologyQueryResultCountByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateCIsAndRelations">
      <soap12:operation soapAction="updateCIsAndRelations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="calculateImpact">
      <soap12:operation soapAction="calculateImpact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getImpactRulesByNamePrefix">
      <soap12:operation soapAction="getImpactRulesByNamePrefix" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getImpactRulesByGroupName">
      <soap12:operation soapAction="getImpactRulesByGroupName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pullTopologyMapChunks">
      <soap12:operation soapAction="pullChunkResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCIsById">
      <soap12:operation soapAction="getCIsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executeTopologyQueryWithParameters">
      <soap12:operation soapAction="executeTopologyQueryWithParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFilteredCIsByType">
      <soap12:operation soapAction="getFilteredCIsByType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopologyQueryExistingResultByName">
      <soap12:operation soapAction="getTopologyQueryExistingResultByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllClassesHierarchy">
      <soap12:operation soapAction="urn:getAllClassesHierarchy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCINeighbours">
      <soap12:operation soapAction="urn:getCINeighbours" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCmdbClassDefinition">
      <soap12:operation soapAction="urn:getCmdbClassDefinition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executeTopologyQueryByName">
      <soap12:operation soapAction="executeTopologyQueryByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ucmdbFault">
        <soap12:fault use="literal" name="ucmdbFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UcmdbServiceHttpBinding" type="tns:UcmdbServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="getClassAncestors">
      <http:operation location="getClassAncestors" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="releaseChunks">
      <http:operation location="releaseChunks" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedCIs">
      <http:operation location="getChangedCIs" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCIsAndRelations">
      <http:operation location="deleteCIsAndRelations" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImpactPath">
      <http:operation location="getImpactPath" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCIsAndRelations">
      <http:operation location="addCIsAndRelations" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCIsByType">
      <http:operation location="getCIsByType" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueryNameOfView">
      <http:operation location="getQueryNameOfView" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeTopologyQueryByNameWithParameters">
      <http:operation location="executeTopologyQueryByNameWithParameters" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelationsById">
      <http:operation location="getRelationsById" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopologyQueryResultCountByName">
      <http:operation location="getTopologyQueryResultCountByName" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCIsAndRelations">
      <http:operation location="updateCIsAndRelations" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateImpact">
      <http:operation location="calculateImpact" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImpactRulesByNamePrefix">
      <http:operation location="getImpactRulesByNamePrefix" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImpactRulesByGroupName">
      <http:operation location="getImpactRulesByGroupName" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pullTopologyMapChunks">
      <http:operation location="pullTopologyMapChunks" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCIsById">
      <http:operation location="getCIsById" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeTopologyQueryWithParameters">
      <http:operation location="executeTopologyQueryWithParameters" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFilteredCIsByType">
      <http:operation location="getFilteredCIsByType" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopologyQueryExistingResultByName">
      <http:operation location="getTopologyQueryExistingResultByName" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllClassesHierarchy">
      <http:operation location="getAllClassesHierarchy" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCINeighbours">
      <http:operation location="getCINeighbours" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCmdbClassDefinition">
      <http:operation location="getCmdbClassDefinition" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeTopologyQueryByName">
      <http:operation location="executeTopologyQueryByName" />
      <wsdl:input>
        <mime:content type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UcmdbService">
    <wsdl:port name="UcmdbServiceSOAP11port_http" binding="tns:UcmdbServiceSOAP11Binding">
      <soap:address location="http://rsb-asksmucmdb.rosbank.rus.socgen:8080/axis2/services/UcmdbService" />
    </wsdl:port>
    <wsdl:port name="UcmdbServiceSOAP12port_http" binding="tns:UcmdbServiceSOAP12Binding">
      <soap12:address location="http://rsb-asksmucmdb.rosbank.rus.socgen:8080/axis2/services/UcmdbService" />
    </wsdl:port>
    <wsdl:port name="UcmdbServiceHttpport1" binding="tns:UcmdbServiceHttpBinding">
      <http:address location="http://rsb-asksmucmdb.rosbank.rus.socgen:8080/axis2/rest/UcmdbService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>