CSharp/ucmdb/UcmdbFacade/Web References/UcmdbService/UcmdbService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:types="http://schemas.hp.com/ucmdb/discovery/1/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.hp.com/ucmdb/discovery/1/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IPList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IP" type="types:IP" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IP">
    <xs:sequence>
      <xs:element name="address" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IPRange">
    <xs:sequence>
      <xs:element name="Start" type="types:IP" />
      <xs:element name="End" type="types:IP" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Scope">
    <xs:sequence>
      <xs:element name="Exclude">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Ranges" type="types:IPRange" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Include">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Ranges" type="types:IPRange" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>